<div class="row">
    <div class="col-md-9">

        <h1 class="display-8">Authentication form</h1>
        <form>

            <div class="form-group row">
                <label for="transaction-id" class="col-sm-2 col-form-label">Transaction ID</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="transaction-id" required>
                </div>
            </div>

            <div id="drop_area" class="area">
                Drop your files here! Or ... </br>
                <input type="file" name="file" id="file" onchange="filesDroped()">
            </div>

        </form>

    </div>

    <div class="col-md-3" id="result">

    </div>

    <div id="sha-res"></div>


</div>



