<div class="row">
    <div class="col-md-9">

        <h1 class="display-8">Authentication form</h1>
        <form>
            <p class="error-message">{{error}}</p>
            <div class="form-group row">
                <label for="transaction-id" class="col-sm-2 col-form-label">Transaction ID</label>
                <div class="col-sm-10">
                    <input name="transactionId" (change)="idModified($event.target.input)" [(ngModel)]="transactionId" placeholder="Transaction Id  ">
                    <!-- <input type="text" class="form-control" id="transaction-id" required> -->
                </div>
            </div>
            <div id="drop_area" class="area" drop_area>
                Drop your file here! Or ... <br>
                <!-- <input type="file" name="file" id="file" onchange="filesDroped()"> -->
                <input type="file" name="file" (change)="fileSelected($event.target.files[0])">
            </div>

        </form>

    </div>

    <div class="col-md-3" id="result">
        <p *ngIf="filename"> file name : {{ filename }} </p>
        <p *ngIf="filesize"> file size : {{ filesize }} bits</p>
        <ul *ngIf="steps" id="steps">
            Process :
            <!-- <li id="">test</li> Template element --> 
            <li *ngFor="let step of steps">
                <small>{{ step }}</small>
            </li>
        </ul>
    </div>

</div>

<div id="sha_calculated" *ngIf="sha_calculated">
    SHA256 : {{ sha_calculated }}
</div>

<div *ngIf="result; else other_content">
    <h1 class="display-15" style="color: green;">
        <i class="fa fa-check"> authentication success </i>
    </h1>
</div>
<ng-template #other_content>
    <ng-container *ngIf="result != null; else third">
        <h1 class="display-15" style="color: red;">
            <i class="fa fa-times"> authentication failed </i>
        </h1>
    </ng-container>
</ng-template>
<ng-template #third></ng-template>