<div class="row">
    <div class="col-md-9">

        <h1 class="display-8">Authentication form</h1>
        <form>
            <p class="error-message">{{error}}</p>
            <div class="form-group row">
                <label for="transaction-id" class="col-sm-2 col-form-label">Transaction ID</label>
                <div class="col-sm-10">
                    <input name="transactionId" (change)="idModified($event.target.input)" [(ngModel)]="transactionId" placeholder="Transaction Id  ">
                    <!-- <input type="text" class="form-control" id="transaction-id" required> -->
                </div>
            </div>
            <div id="drop_area" class="area">
                Drop your file here! Or ... <br>
                <!-- <input type="file" name="file" id="file" onchange="filesDroped()"> -->
                <input type="file" name="file" (change)="fileSelected($event.target.files[0])">
            </div>

        </form>

    </div>

    <div class="col-md-3" id="result">
        <p id="filename"></p>
        <p id="filesize"></p>
        <ul id="steps">
            <li id="">test</li>
            <li id="">test</li>
            <li id="">test</li>
        </ul>
    </div>

</div>

<div id="sha-calculated">

</div>



